:root {
  --colorBlanco: #f1f1f1;
  --colorBlanco2: #e4e4e4;

  --colorGris: #CACACA;
  --colorGris2: #B1B1B1;
  --colorGris3: #979797;
  -colorGris4: #7D7D7D;
  --colorGris5: #696969;
  --colorGris6: #555555;
  --colorGris7: #414141;
  --colorGris8: #2D2D2D;
  --colorNegro: #191919;

  --colorIndigo: #486DB7;
  --colorPink: #F778B9;
  --colorPurples: #B378FF;

  --basic1: #ffffff;
  --basic2: #000000;

  --Font_Heading: 'Source Sans Pro', sans-serif;
  --Font_Parrafos: 'Merriweather', serif;
  --Font_Parrafos2: 'Source Code Pro', monospace;
}

/* section faq */


.faq_container {
  margin: auto;
  width: 90%;
  height: 100%;
  padding: 8px;
}

.faq_title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;

  background-color: #B378FF;


  width: 100%;
  height: 40px;
  min-width: 250px;
  text-align: center;
  margin-bottom: 30px;
}

.faq_question h3 {
  width: 90%;
  height: 64px;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.02em;
  color: #414141;
  transform: rotate(0deg);
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px 0px 10px;
  border-bottom: 2px dashed var(--basic2);
  cursor: pointer;
}

.faq_question h3 img {
  position: absolute;
  top: -4vh;
  left: 90%;
  width: 40px;
  height: 40px;
}

.checkbox_faq {
  opacity: 0;

}

.checkbox_faq:checked+.faq_answered {
  width: 90%;
  height: 100%;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: -0.02em;
  transform: rotate(0deg);
  flex: none;
  order: 0;
  flex-grow: 0;
  transition: all 0.5s ease;
  padding: 8px;
  overflow: hidden;
  opacity: 1;
  transform: translateY(0);
}

.faq_answered {
  opacity: 0;
  transition: all 0.5s ease;
  width: 90%;
  height: 0;
  overflow: hidden;
}

.faq_answered h2 ol li {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  margin-top: -50px;
  margin-bottom: -30px;
  margin-left: -15px;
  color: #486DB7;
}

.faq_answered p {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #414141;
}

.text_color {
  color: #B378FF;
}

.faq_question_two h3 {
  width: 90%;
  height: 64px;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.02em;
  color: #414141;
  transform: rotate(0deg);
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px 0px 10px;
  border-bottom: 2px dashed var(--basic2);
  cursor: pointer;
}

.faq_question_two h3 img {
  position: absolute;
  top: -4vh;
  left: 90%;
  width: 40px;
  height: 40px;
}

.checkbox_faq_two {
  opacity: 0;

}

.checkbox_faq_two:checked+.faq_answered_two {
  width: 90%;
  height: 100%;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: -0.02em;
  transform: rotate(0deg);
  flex: none;
  order: 0;
  flex-grow: 0;
  transition: all 0.5s ease;
  padding: 8px;
  overflow: hidden;
  opacity: 1;
  transform: translateY(0);
}

.faq_answered_two {
  opacity: 0;
  transition: all 0.5s ease;
  width: 90%;
  height: 0;
  overflow: hidden;
}

.faq_answered_two h2 ol li {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  margin-top: -50px;
  margin-bottom: -30px;
  margin-left: -15px;
  color: #486DB7;
}

.faq_answered_two p {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #414141;
}

.faq_question_three h3 {
  width: 90%;
  height: 64px;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.02em;
  color: #414141;
  transform: rotate(0deg);
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px 0px 10px;
  border-bottom: 2px dashed var(--basic2);
  cursor: pointer;
}

.faq_question_three h3 img {
  position: absolute;
  top: -4vh;
  left: 90%;
  width: 40px;
  height: 40px;
}

.checkbox_faq_three {
  opacity: 0;

}

.checkbox_faq_three:checked+.faq_answered_three {
  width: 90%;
  height: 100%;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: -0.02em;
  transform: rotate(0deg);
  flex: none;
  order: 0;
  flex-grow: 0;
  transition: all 0.5s ease;
  padding: 8px;
  overflow: hidden;
  opacity: 1;
  transform: translateY(0);
}

.faq_answered_three {
  opacity: 0;
  transition: all 0.5s ease;
  width: 90%;
  height: 0;
  overflow: hidden;

}

.faq_answered_three h2 ol li {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  margin-top: -50px;
  margin-bottom: -30px;
  margin-left: -15px;
  color: #486DB7;
}

.faq_answered_three p {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #414141;
}

@media (max-width: 1920px) {
  .faq_title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

    background-color: #F778B9;
    border-radius: 4px;
    font-size: 10px;
    width: 100%;
    height: 40px;
    min-width: 250px;
    text-align: center;
    margin-bottom: 50px;
  }

  .faq_question h3 img {
    position: absolute;
    top: 0%;
    left: 100%;
    width: 40px;
    height: 40px;
  }

  .faq_question_two h3 img {
    position: absolute;
    top: 0%;
    left: 100%;
    width: 40px;
    height: 40px;
  }

  .faq_question_three h3 img {
    position: absolute;
    top: 0%;
    left: 100%;
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 1440px) {
  .faq_title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

    background-color: #F778B9;
    border-radius: 4px;
    font-size: 10px;
    width: 100%;
    height: 40px;
    min-width: 250px;
    text-align: center;
    margin-bottom: 50px;
  }

  .faq_question h3 img {
    position: absolute;
    top: 0%;
    left: 100%;
    width: 40px;
    height: 40px;
  }

  .faq_question_two h3 img {
    position: absolute;
    top: 0%;
    left: 100%;
    width: 40px;
    height: 40px;
  }

  .faq_question_three h3 img {
    position: absolute;
    top: 0%;
    left: 100%;
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 1280px) {
  .faq_title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

    background-color: #F778B9;
    border-radius: 4px;
    font-size: 10px;
    width: 100%;
    height: 40px;
    min-width: 250px;
    text-align: center;
    margin-bottom: 50px;
  }

  .faq_question h3 img {
    position: absolute;
    top: 0%;
    left: 100%;
    width: 40px;
    height: 40px;
  }

  .faq_question_two h3 img {
    position: absolute;
    top: 0%;
    left: 100%;
    width: 40px;
    height: 40px;
  }

  .faq_question_three h3 img {
    position: absolute;
    top: 0%;
    left: 100%;
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 1080px) {
  .faq_title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

    background-color: #F778B9;
    border-radius: 4px;
    font-size: 10px;
    width: 100%;
    height: 40px;
    min-width: 250px;
    text-align: center;
    margin-bottom: 50px;
  }

  .faq_question h3 img {
    position: absolute;
    top: 0%;
    left: 100%;
    width: 40px;
    height: 40px;
  }

  .faq_question_two h3 img {
    position: absolute;
    top: 0%;
    left: 100%;
    width: 40px;
    height: 40px;
  }

  .faq_question_three h3 img {
    position: absolute;
    top: 0%;
    left: 100%;
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 800px) {
  .faq_title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

    background-color: #F778B9;
    border-radius: 4px;
    font-size: 10px;
    width: 100%;
    height: 40px;
    min-width: 250px;
    text-align: center;
    margin-bottom: 50px;
  }

  .faq_question h3 img {
    position: absolute;
    top: 10%;
    left: 100%;
    width: 40px;
    height: 40px;
  }

  .faq_question_two h3 img {
    position: absolute;
    top: 10%;
    left: 100%;
    width: 40px;
    height: 40px;
  }

  .faq_question_three h3 img {
    position: absolute;
    top: 10%;
    left: 100%;
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 475px) {
  .faq_title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

    background-color: #F778B9;
    border-radius: 4px;
    font-size: 10px;
    width: 100%;
    height: 40px;
    min-width: 250px;
    text-align: center;
    margin-bottom: 50px;
  }

  .faq_question h3 img {
    position: absolute;
    top: 0vh;
    left: 100%;
    width: 40px;
    height: 40px;
  }

  .faq_question_two h3 img {
    position: absolute;
    top: 0vh;
    left: 100%;
    width: 40px;
    height: 40px;
  }

  .faq_question_three h3 img {
    position: absolute;
    top: 0vh;
    left: 100%;
    width: 40px;
    height: 40px;
  }
}