@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

* {

  box-sizing: border-box;
}

body {
  width: 100%;
}

:root {
  --colorBlanco: #f1f1f1;
  --colorBlanco2: #e4e4e4;

  --colorGris: #CACACA;
  --colorGris2: #B1B1B1;
  --colorGris3: #979797;
  -colorGris4: #7D7D7D;
  --colorGris5: #696969;
  --colorGris6: #555555;
  --colorGris7: #414141;
  --colorGris8: #2D2D2D;
  --colorNegro: #191919;

  --colorIndigo: #486DB7;
  --colorPink: #F778B9;
  --colorPurples: #B378FF;

  --basic1: #ffffff;
  --basic2: #000000;

  --Font_Heading: 'Source Sans Pro', sans-serif;
  --Font_Parrafos: 'Merriweather', serif;
  --Font_Parrafos2: 'Source Code Pro', monospace;
}

.main_title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.main_title img {
  width: 50%;
}

h1 .title_mejor {
  color: #419FB9;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  /* identical to box height, or 100% */

  letter-spacing: -0.02em;

}

h1 .title_con {
  color: #265E6C;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  /* identical to box height, or 100% */

  letter-spacing: -0.02em;

}

h1 .title_salud {
  color: #FF93C7;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  /* identical to box height, or 100% */

  letter-spacing: -0.02em;

}

/* SEARCHBAR */
.checkbox_search {
  opacity: 0;
}

.checkbox_search:checked+.search_bar_container {
  position: absolute;
  width: 343px;
  height: 56px;
  left: -322px;
  top: 45px;
  outline: #B1B1B1;
  z-index: 3;
  transform: translateY(0);
  transition: all 0.5s ease;
}

.search_bar_container {
  position: absolute;
  width: 343px;
  height: 56px;
  left: -322px;
  top: 45px;
  outline: #B1B1B1;
  z-index: 3;
  transform: translateY(-150px);
  transition: all 0.5s ease-out;
}

.input_search input {
  width: 100%;
  height: 56px;
  /* left: 13px; */
  top: 92px;
  border: 1px solid #B1B1B1;
  border-radius: 4px;
  min-width: 250px;
}

.input_search input::placeholder {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 8px;
  letter-spacing: -0.02em;
  color: #7D7D7D;

}

.search_content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 4px;
  gap: 8px;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 8px;
  bottom: 8px;
  background: #B378FF;
  border-radius: 4px;
}

.icon_search {
  width: 30px;
  height: 30px;
  color: var(--basic1);
  padding: 7px;
}

/* LANDING */
.contenedor_landing {
  width: 100%;
}



.titulo_relevante {
  display: flex;
  margin: auto;
  position: absolute;
  width: 247px;
  height: 42px;
  padding: 50px;
  left: 28%;
  min-width: 375px;
}

.titulo_relevante h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative;
  width: 250px;
  height: 18px;
  left: 18%;
  top: 30%;
  font-family: var(--Font_Parrafos);
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--basic2);
  border-bottom: solid 4px var(--colorPink);
  border-radius: 0 0 10px 10px;
  min-width: 250px;
}


/* CARD NEWS */
/* HACERLE MEDIAQUERY */
.cards_container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin: auto;
  width: 100%;


}

.card_news {
  padding: 0px;
  width: 342.56px;
  height: 400px;
  background: var(--basic1);
  border-radius: 4px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.card_news img {
  width: 342.56px;
  height: 200px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.card_section h3 {
  width: 326.56px;
  height: 16px;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #F778B9;
  margin-left: 7px;
}

.card_title h2 {
  width: 326.56px;
  height: 64px;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.02em;
  color: #414141;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin-top: -10px;
  margin-left: 7px;
}

.card_description {
  width: 326.56px;
  height: 96px;
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.02em;
  color: #414141;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin-top: -30px;
  margin-left: 7px;
}

.card_news_two {

  padding: 0px;
  width: 342.56px;
  height: 400px;
  background: var(--basic1);
  border-radius: 4px;
  flex: none;
  order: 2;
  flex-grow: 0;

}

.card_news_two img {
  width: 342.56px;
  height: 200px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.card_section_two h3 {
  width: 326.56px;
  height: 16px;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #F778B9;
  margin-left: 7px;
}

.card_title_two h2 {
  width: 326.56px;
  height: 64px;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.02em;
  color: #414141;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin-top: -10px;
  margin-left: 7px;
}

.card_description_two {
  width: 326.56px;
  height: 96px;
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.02em;
  color: #414141;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin-top: -60px;
  margin-left: 7px;
}

/* second section of cards news */
.card_news_three {
  padding: 0px;
  width: 342px;
  height: 400px;
  background: var(--basic1);
  border-radius: 4px;
  flex-grow: 0;
  order: 2;
  flex-grow: 0;

}

.card_news_three_img {
  width: 342px;
  height: 200px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  background-image: url('../components/images/photoKids.png');

}

.card_section_three h3 {
  width: 326.56px;
  height: 16px;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #F778B9;
  margin-left: 7px;
}

.card_title_three h2 {
  width: 326.56px;
  height: 64px;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.02em;
  color: #414141;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin-top: -5px;
  margin-left: 7px;
}

.card_description_three {
  width: 326.56px;
  height: 96px;
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.02em;
  color: #414141;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin-top: -25px;
  margin-left: 7px;
}


/* advertising */
.advertising {
  display: flex;
  justify-content: flex-end;
  flex-direction: column-reverse;
  min-width: 100px;
  position: absolute;
  top: 55%;
  left: 70%;

}

.title_advertising {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;
  flex: none;
  order: 4;
  flex-grow: 0;

}

.image_advertising img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-image: url('../components/images/publicidad2.jpg');
  width: 100px;
  height: 600px;
  order: 5;
  flex-grow: 0;
  min-width: 300px;
}

.second_image_advertising {
  display: none;
}

/* intermediate photo */
.intermediate_photo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-direction: column;
  margin-top: 10%;
  margin-left: -30%;
}

.intermediate_photo_img {
  width: 500px;
  height: 300px;
  background-image: url('../components//images/photoThree.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  flex: none;
  order: 6;
  flex-grow: 0;
  min-width: 250px;
}

.legend_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 8px;
  width: 500px;
  height: 64px;
  background: #F1F1F1;
  flex: none;
  order: 7;
  flex-grow: 0;
  min-width: 250px;
}

.legend_text p {
  width: 344px;
  height: 48px;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #7D7D7D;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}


/* excerpt */
.excerpt {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 60%;
  height: 100%;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #414141;
  margin-left: -2%;
  padding: 8px;
  min-width: 250px;

}

.excerpt p {
  width: 50%;
  height: 100%;
  padding: 8px;
  border-left: solid 4px #486DB7;
}



/* separator */
.separator {
  width: 100%;
  height: 10px;
  background: #D9D9D9;
  min-width: 100%;
}

.advesiting_large {
  display: flex;
  margin: auto;
  flex-direction: column;
  width: 90%;
}

.title_advertising_large p {
  text-align: center;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;

}

.advesiting_large_img img {
  width: 100%;
  height: 130px;
  margin-bottom: 50px;
  margin-top: -10px;
}



.news_letters {
  width: 100%;
  height: 200px;
  min-width: 250px;
  margin-top: 10%;
  display: flex;
  background-color: #ECF0F7;
}

.news_letters img {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 250px;
  margin: auto;
  min-width: 250px;
  margin-top: -50px;

}

.news_letters_titles {
  display: flex;
  align-items: center;
  margin: auto;
  flex-direction: column;
  margin-left: -20%;
  margin-top: 1%;
}

.news_letters_titles h3 {
  display: flex;
  align-items: center;
  margin: auto;
  margin-left: 0%;
}

.news_letters_titles h4 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: auto;
  margin-left: 0%;
}

.input_newsletters input {
  margin-top: 10%;
  width: 350px;
  height: 56px;
  min-width: 250px;

  border: 1px solid #CACACA;
  border-radius: 4px;
}

.input_newsletters button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 16px;
  gap: 8px;
  background: #696969;
  border-radius: 4px;
  color: var(--basic1);
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;
  position: relative;
  top: -50px;
  left: 65%;
}


@media (max-width: 475px) {

  h1 .title_mejor {
    color: #419FB9;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    /* identical to box height, or 100% */

    letter-spacing: -0.02em;

  }

  h1 .title_con {
    color: #265E6C;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    /* identical to box height, or 100% */

    letter-spacing: -0.02em;

  }

  h1 .title_salud {
    color: #FF93C7;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    /* identical to box height, or 100% */

    letter-spacing: -0.02em;

  }

  .checkbox_search:checked+.search_bar_container {
    position: absolute;
    width: 343px;
    height: 56px;
    left: -352px;
    top: 45px;
    outline: #B1B1B1;
    z-index: 3;
    transform: translateY(0);
    transition: all 0.5s ease;
  }

  .search_bar_container {
    position: absolute;
    width: 343px;
    height: 56px;
    left: -352px;
    top: 45px;
    outline: #B1B1B1;
    z-index: 3;
    transform: translateY(-150px);
    transition: all 0.5s ease-out;
  }

  /* intermediate photo */
  .intermediate_photo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-direction: column;
    margin-top: 10%;
    margin-left: 0%;

  }

  .intermediate_photo_img {
    width: 350px;
    height: 100px;
    background-image: url('../components//images/photoThree.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex: none;
    order: 6;
    flex-grow: 0;
    min-width: 250px;
  }

  .legend_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 8px;
    width: 350px;
    height: 64px;
    background: #F1F1F1;
    flex: none;
    order: 7;
    flex-grow: 0;
    min-width: 250px;
  }

  .legend_text p {
    width: 340px;
    height: 48px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #7D7D7D;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }


  /* advertising */
  .advertising {
    display: flex;
    justify-content: flex-end;
    flex-direction: column-reverse;
    min-width: 100px;
    position: relative;
    top: 0%;
    left: 0%;

  }


  /* excerpt */
  .excerpt {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 100%;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #414141;
    margin-left: -2%;
    padding: 8px;
    min-width: 250px;

  }

  .excerpt p {
    width: 90%;
    height: 100%;
    padding: 8px;
    border-left: solid 4px #486DB7;
  }


  .second_image_advertising {
    display: block;
    width: 300px;
    height: 300px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    background-image: url('../components/images/publicidad2.jpg');
  }

  .advesiting_large {
    display: none;

  }

  .title_advertising_large p {
    text-align: center;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #000000;

  }

  .advesiting_large_img img {
    width: 100%;
    height: 130px;
    margin-bottom: 50px;
    margin-top: -10px;
  }


  .news_letters {
    width: 100%;
    height: 100%;
    min-width: 250px;
    margin-top: 20%;
    display: flex;
    background-color: #ECF0F7;
  }

  .news_letters img {
    display: none;
  }

  .news_letters_titles {
    display: flex;
    align-items: center;
    margin: auto;
    flex-direction: column;
    margin-top: 10%;
  }

  .news_letters_titles h3 {
    display: flex;
    align-items: center;
    margin: auto;
    margin-left: 0%;
    font-size: 12px;
  }

  .news_letters_titles h4 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
    margin-left: 0%;
    font-size: 12px;
  }

  .input_newsletters input {
    margin-top: 10%;
    width: 250px;
    height: 36px;
    min-width: 250px;

    border: 1px solid #CACACA;
    border-radius: 4px;
  }

  .input_newsletters button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px 12px;
    gap: 8px;
    background: #696969;
    border-radius: 4px;
    color: var(--basic1);
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: -0.02em;
    position: relative;
    top: -34px;
    left: 65%;
  }


}